* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #4ac9ff;
  padding: 2rem 0rem;
}

.card {
  max-width: 20rem;
  margin: 0 auto;
  border-radius: 3rem;
  background: white;
  border: 1px solid #00b3ff;
  box-shadow: 0px 0px 1rem #00b3ff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  overflow: hidden;
  font-size: 1.4rem;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}

.card:hover {
  transform: translateY(1rem);
  transition: 0.2s ease-out;
  box-shadow: 0px 0px 2rem #00b3ff;
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
.card-header {
  position: relative;
  height: 6rem;
}

.card-header-circle {
  border: 1rem solid #4ac9ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  transform: translate(-5rem, -8rem);
  -webkit-transform: translate(-5rem, -8rem);
  -moz-transform: translate(-5rem, -8rem);
  -ms-transform: translate(-5rem, -8rem);
  -o-transform: translate(-5rem, -8rem);
}

.card-body {
  padding: 1.5rem;
}

.card-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.card-input-title {
  padding: 0rem 1rem;
}

.card-input {
  font-size: 1.2rem;
  border: 1px solid #00b3ff;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.card-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
.card-button {
  border: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: white;
  background: #4ac9ff;
  padding: 0.4rem 1.6rem;
  margin: auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  cursor: pointer;
}

.card-button:hover {
  background: #00b3ff;
}

.card-data-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem 1rem;
}

.card-footer {
  position: relative;
  height: 8rem;
}

.card-footer-circle {
  border: 1rem solid #4ac9ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  transform: translate(1.5rem, -2rem);
  -webkit-transform: translate(1.5rem, -2rem);
  -moz-transform: translate(1.5rem, -2rem);
  -ms-transform: translate(1.5rem, -2rem);
  -o-transform: translate(1.5rem, -2rem);
}
